.react-calendar {
    background-color: #2e2e2e; /* Dark background */
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
  }
  
  .react-calendar__tile {
    background-color: #3b3b3b; /* Darker tiles */
    color: white;
    border-radius: 5px;
    position: relative; /* Required for the dot */
  }
  
  .react-calendar__tile:hover {
    background-color: #505050; /* Highlighted on hover */
  }
  
  .react-calendar__tile--active {
    background-color: #4CAF50; /* Green background for active days */
    color: white;
  }
  
  .react-calendar__tile--now {
    background-color: #FFD700; /* Yellow for today's date */
    color: black;
  }
  .react-calendar__tile--highlight {
    background-color: #a52222; /* Red for selected days */
    color: white;
  }
  
  .react-calendar__tile--dot::after {
    content: '•'; /* Dot for assigned workout days */
    color: #FF6347; /* Light red dot */
    font-size: 1.2rem;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
  }

  
  .react-calendar__tile--dot {
    position: relative;
  }
  
  .react-calendar__tile--dot::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 5px;
    background-color: green; /* Mark workouts with a dot */
    border-radius: 50%;
  }
  